body {
  font-family: "source-sans-pro", Calibri, Candara, Arial, sans-serif;
  min-height: 100%;
}

h1, h2, h3, h4 {
  font-family: "source-sans-pro", Calibri, Candara, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
}

a, .breadcrumbs a {
  color: #f7931e;
} a:hover, .breadcrumbs a:hover {
  color: #d8a974;
}

.breadcrumbs li {
  text-transform: none;
  font-size: 13px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px){ .container { width: 1170px; } }

nav {
  background: #222;
  max-height: 50px;
  margin-bottom: 4px;
}

nav ul,
mobile-nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  float: left;
}

nav ul .items {
  display: inline-block;
  padding: 0 0 0 30px;
}

nav ul a,
mobile-nav ul a {
  display: inline-block;

  padding: 15px 8px 12px;

  color: #fff;

  font-size: 14px;
  font-family: "source-sans-pro", Calibri, Candara, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
}

nav ul a:focus,
mobile-nav ul a:focus {
  color: #fff;
}

nav ul a:hover,
mobile-nav ul a:hover {
  color: #aaa;
}

nav ul a.active,
mobile-nav ul a.active {
  border-bottom: 3px solid #f7931e;
}

nav .logo {
  height: 50px;
}

nav .logo a {
  padding: 0;
  outline: none;
}

nav .logo svg {
  float: left;
  height: 22px;
  margin: 14.5px 10px 0 0;
}

nav .logo h1 {
  float: left;
  height: 50px;

  padding: 14.5px 0;
  margin-bottom: 0;

  color: #fff;
  
  font-size: 19px;
  line-height: 21px;
}

nav .cta {
  margin: 8px 0;
}


#side-menu {
  background: #222;
  box-shadow: none;
}

mobile-nav {
  display: block;
  padding: 25px;
}

mobile-nav .logo {
  margin: 0 0 25px;
}

mobile-nav .logo a {
  outline: none;
}

mobile-nav .logo svg {
  width: 40px;
  margin: 0 auto;

  display: block;
}

mobile-nav .logo h1 {
  color: #fff;

  margin: 15px 0 0;

  font-size: 25px;
  text-align: center;
}

mobile-nav ul a {
  padding: 13px 0 3px;
  font-size: 15px;
}

mobile-nav .cta {
  width: fit-content;
  margin: 25px auto 0;
}


page {
  display: block;

  width: 100%;
  height: 100%;

  margin-top: -4px;
  padding: 35px 0;

  background: #333;
  color: #fff;
}

page h1 {
  text-align: center;
  margin: 0 0 25px;
}

page > section:first-of-type {
  padding-top: 70px;
}

page > section .container {
  padding: 0 80px;
}


article {
  background: #fff;
  color: #000;

  padding: 25px 0 !important;

  box-shadow: 0 10px 30px -5px rgba(0,0,0,.5);
}

article .container {
  padding: 0 30px;
}


section {
  padding: 40px 0;
}

section.dark {
  background: #464646;
  color: #fafafa;
}

section h2 {
  margin: 0 0 50px;
}

section h2.lesser {
  margin: 0 0 25px;
}

section .cell.padded {
  padding: 0 25px 25px;
}


footer {
  background: #333;

  min-height: 80px;

  color: #aaa;
  text-align: right;
}

footer .do {
  float: left;
  width: 120px;
  margin: 30px 0 18px;
}

footer .brand {
  display: inline-block;

  height: 44px;
  margin: 18px 15px 18px 0;
}

footer .brand p {
  margin: 0;

  font-size: 14px;
  line-height: 22px;
}

footer .brand a {
  color: #09eaaa;
} footer .brand a:hover {
  color: #0abcb8;
}

footer .logo {
  height: 80px;
  padding: 15px;
  float: right;
}


.cta {
  border: 2px solid #fff;
  border-radius: 10px;
}

.cta > a {
  padding: 5px;
}

.cta:hover {
  color: #000;
  background: #fff;

  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
}

.cta:hover > a {
  color: #000;
  
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}

a.icon-container {
  padding: 18px 8px;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  transition: 0.4s;
}

.icon-bar:not(:first-child) {
  margin: 4px 0 0;
}

.icon-change.icon-container .icon-bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.icon-change.icon-container .icon-bar:nth-child(2) {
  opacity: 0;
}

.icon-change.icon-container .icon-bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}

.js-off-canvas-overlay {
  background: none;
}

.loader,
.loader:before,
.loader:after {
  background: #f7931e;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #f7931e;
  text-indent: -9999em;
  margin: 66px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader.small {
  margin: 20px auto;
  font-size: 4px;
}

.loader-container-small {
  height: 40px;
  width: 100%;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.bignum, .numexp {
  text-align: center;
  margin: 0;
}

.bignum {
  font-size: 50px;
  font-weight: 700;
}

.numexp {
  margin-bottom: 18px;
}

h4.series {  margin-top: 25px; }
h4.under {
  padding-bottom: 10px;
  border-bottom: #e4e4e4 solid 1px;
}


/* MEDIUM SCREENS */
@media screen and (max-width: 63.9375em) {
  /*  */
}


/* SMALL SCREENS */
@media screen and (max-width: 39.9375em) {
  h2 { font-size: 36px; }
  h4 { font-size: 24px; }

  nav .logo h1 { margin-left: 15px; }

  page { padding: 0 0 35px; }
  page section .container { padding: 0 15px; }

  footer {
    text-align: center;
    padding: 30px 0 20px;
  }
  footer .brand { margin: 0; }
  footer .logo {
    float: none;
    display: block;
    height: 50px;
    padding: 0;
    margin: 0 auto 15px;
  }
}