#livemap {
  border: none;
  
  width: 100vw;
  height: calc(100vh - 50px);
  margin-top: -7px;

  background: #464646;
}

/* MEDIUM SCREENS */
@media screen and (max-width: 63.9375em) {
  /*  */
}

/* SMALL SCREENS */
@media screen and (max-width: 39.9375em) {
  /*  */
}