[component="stats/player/list"] {
  height: 100%;
  min-height: 65vh;
  overflow-y: scroll;
}

[component="stats/player/list/search"] {
  position: relative;
  margin: 0;
  z-index: 1;
}

[component="stats/player/list/item"] {
  background: #bfbfbf;
  padding: 5px;
} [component="stats/player/list/item"]:nth-child(even) {
  background: #a0a0a0;
}

[component="stats/player/list/item"]:hover {
  background: #f7931e;
  cursor: pointer;
}

[component="stats/player/list/item"].active {
  background: #fff;
  cursor: default;

  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.2);
  position: relative;
}

[component="stats/player/list/item"] img {
  width: 50px;
  height: 50px;
}

[component="stats/player/list/item"] h4 {
  height: 25px;

  font-size: 20px;
  line-height: 25px;
  
  margin: 11px 0 14px 10px;
}

[component="stats/player/info"] {
  padding: 0 20px 10px;
}


[component="stats/player/info/worlds"] {
  padding: 0 15px 15px;
}

[component="stats/player/info/worlds"] .bignum {
  font-size: 30px;
  line-height: 30px;
}

[component="stats/player/info/worlds"] .numexp {
  margin: 0;
}

[component="stats/player/info/worlds/world"] {
  background: #bfbfbf;
  color: #fff;

  margin: 0 30px;
  padding: 10px;
} [component="stats/player/info/worlds/world"]:nth-child(even) {
  background: #a0a0a0;
}

[component="stats/player/info/worlds/world"] > .grid-x {
  height: 55px;
}

[component="stats/player/info/worlds/world"] h3 {
  margin: 0 0 0 15px;
  line-height: 31px;
}

[component="stats/player/info/worlds/world"] .accuracy {
  font-size: 11px;
  line-height: 15px;

  margin: 5px 0 0 15px;

  color: #efefef;
}

[component="stats/player/info/worlds/world"].world-all {
  background: #333;

  position: relative;
  margin: 0;
  padding: 20px;

  box-shadow: 0 10px 30px -5px rgba(0,0,0,.4);
}

[component="stats/player/info/worlds/search"] {
  margin: 0 30px;
  padding: 10px;
}

[component="stats/player/info/worlds/search"] h4 {
  line-height: 25px;
  margin: 6px 0 8px;
}

[component="stats/player/info/worlds/search"] input {
  margin: 0;
}


/* MEDIUM SCREENS */
@media screen and (max-width: 63.9375em) {
  [component="stats/player/info/worlds/world"],
  [component="stats/player/info/worlds/search"] {
    margin: 0
  }

  [component="stats/player/info/worlds/world"] h3 {
    margin: 11px 0 13px 15px;
  }

  [component="stats/player/info/worlds/world"].world-all {
    padding: 20px 10px;
  }

  [component="stats/player/info/worlds"] .bignum {
    font-size: 25px;
  }
}



/* SMALL SCREENS */
@media screen and (max-width: 39.9375em) {
  [component="stats/player/info"],
  [component="stats/player/info/worlds"] {
    padding: 0;
  }

  [component="stats/player/list/item"] {
    background: #bfbfbf !important;
  } [component="stats/player/list/item"]:nth-child(even) {
    background: #a0a0a0 !important;
  } [component="stats/player/list/item"].active {
    box-shadow: none;
  }

  [component="stats/player/info"],
  [component="stats/player/list"] {
    display: none;
  }

  [component="stats/player/info"].active-panel,
  [component="stats/player/list"].active-panel { display: block; }

  [component="stats/player/info/ctl/close"] {
    position: absolute;
    top: 118px; right: 30px;
    width: 30px; height: 30px;

    padding: 0 6px;
    
    color: #fff;
    background: #f7931e;

    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }

  [component="stats/player/info/worlds/world"] > .grid-x {
    height: auto;
  }

  [component="stats/player/info/worlds/world"] h3 {
    margin: 10px 0 15px 12px;
    line-height: 25px;
    font-size: 25px;
  }

  [component="stats/player/info/worlds"] .numexp {
    margin: 0 0 14px;
  }
}