body {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;

    min-height: 100%;
    background: #464646;
}

h1, h2, h3, h4 {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
}

.if-m--main {
    background: #f7931e;
    color: #fff;
}

    .if-m--main .if-m--header,
    .if-m--main .if-m--header a {
        color: #fff;
    }

    .if-m--main .if-m--header {
        padding: 2rem 1rem;
    }

        .if-m--main .if-m--header .if-m--banner {
            height: 2rem;
        }

        .if-m--main .if-m--header .menu {
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }

            .if-m--main .if-m--header .menu > li:not(:first-child) {
                margin: 0 0 0 .8rem;
            }

            .if-m--main .if-m--header .menu > li > a {
                padding: .7rem;

                color: #fff;

                font-family: proxima-nova, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: .8rem;
                letter-spacing: .12rem;
                text-transform: uppercase;
            }

            .if-m--main .if-m--header .menu > .cta {
                border: .14rem solid #fff;
                border-radius: 1.2rem;
            }

            .if-m--main .if-m--header .menu > .cta > a {
                padding: .6rem;
            }

                .if-m--main .if-m--header .menu > .cta:hover {
                    color: #f7931e;
                    background: #fff;

                    -webkit-transition: background 300ms ease;
                    -moz-transition: background 300ms ease;
                    -ms-transition: background 300ms ease;
                    -o-transition: background 300ms ease;
                    transition: background 300ms ease;
                }

                    .if-m--main .if-m--header .menu > .cta:hover > a {
                        color: #f7931e;
                        
                        -webkit-transition: color 300ms ease;
                        -moz-transition: color 300ms ease;
                        -ms-transition: color 300ms ease;
                        -o-transition: color 300ms ease;
                        transition: color 300ms ease;
                    }

    .if-m--main .if-m--jumbo {
        margin: 5rem 0 8rem;
    }

        .if-m--main .if-m--jumbo .if-m--logo {
            height: 6rem;
        }

        .if-m--main .if-m--jumbo .blurb {
            margin: 1rem 0 0;
        }

        .if-m--main .if-m--jumbo .cta {
            color: #fff;
            border: .14rem solid #fff;
            border-radius: 1.2rem;

            padding: .5rem 2rem;
            margin: 2rem 0 0;
            
            display: inline-block;
        }

            .if-m--main .if-m--jumbo .cta:hover {
                color: #f7931e;
                background: #fff;

                -webkit-transition: background 300ms ease;
                -moz-transition: background 300ms ease;
                -ms-transition: background 300ms ease;
                -o-transition: background 300ms ease;
                transition: background 300ms ease;
            }

                .if-m--main .if-m--jumbo .cta:hover > a {
                    color: #f7931e;
                    
                    -webkit-transition: color 300ms ease;
                    -moz-transition: color 300ms ease;
                    -ms-transition: color 300ms ease;
                    -o-transition: color 300ms ease;
                    transition: color 300ms ease;
                }

    .if-m--main .if-m--content {
        background: #fff;
        color: #1E1E1E;

        margin: 0 0 2rem;
        padding: 1rem;

        -webkit-box-shadow: 0 .6rem .4rem -.4rem rgba(0,0,0,.2);
        box-shadow: 0 .6rem .4rem -.4rem rgba(0,0,0,.2);
    }

        .if-m--main .if-m--content .if-m--crumbs {
            padding-bottom: 0;
        }

            .if-m--main .if-m--content .if-m--crumbs > nav > .breadcrumbs {
                margin: 0;
            }

        .if-m--main .if-m--content .if-m--big-input {
            font-size: 2rem;
            text-align: center;

            height: 4rem;
        }

        .if-m--main .if-m--content .if-m--banner {
            width: 75rem;
            min-height: 200px;

            margin: 1rem -16px 2rem;

            color: #fff;
            
            text-shadow: 0px 0px .2rem rgba(85, 85, 85, .8);

            background-size: 100%;
            background: #000 no-repeat;
        }

            .if-m--main .if-m--content .if-m--banner .if-m--banner-overlay {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFElEQVQYV2NkYGB4xsDAIMXIAAUADcUBA4gpF34AAAAASUVORK5CYII=');

                width: 100%;
                height: 100%;
            }

                .if-m--main .if-m--content .if-m--banner.has-cta .if-m--banner-overlay .if-m--banner-content {
                    margin-top: auto;
                    margin-bottom: auto;
                }

            .if-m--main .if-m--content .if-m--banner h1 {
                font-size: 3rem;
            }

            .if-m--main .if-m--content .if-m--banner h3 {
                font-size: 1.9375rem;
            }

            .if-m--main .if-m--content .if-m--banner .cell.cta {
                margin-top: auto;
                margin-bottom: auto;
            }

            .if-m--main .if-m--content .if-m--banner .cta {
                margin: 0;
                text-align: right;
            }

                .if-m--main .if-m--content .if-m--banner .cta .button {
                    margin: 0;

                    color: #fff;
                    background: none;
                    border: .14rem solid #fff;
                    border-radius: 1.2rem;
                }

                    .if-m--main .if-m--content .if-m--banner .cta .button:hover {
                        background: #fff;
                        color: #000;

                        text-shadow: none;
                    }

.if-m--footer {
    background: #464646;
    color: #888;

    font-size: .8rem;

    padding: 2rem;
}

    .if-m--footer .if-m--trademark {
        text-align: right;
    }

/* SMALL SCREENS */
@media screen and (max-width: 39.9375em) {
    .if-m--main .if-m--header {
        text-align: center;
        padding: 1rem 0;
    }

        .if-m--main .if-m--header .menu {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

    .if-m--main .if-m--jumbo {
        margin: 0;
    }

        .if-m--main .if-m--jumbo .if-m--titles {
            text-align: center;
        }

            .if-m--main .if-m--jumbo .if-m--titles h1 {
                display: none;
            }

            .if-m--main .if-m--jumbo .if-m--titles h3 {
                font-size: 2rem;
            }

        .if-m--main .if-m--jumbo .cta {
            text-align: center;
            display: inherit;
        }

    .if-m--main .if-m--content {
        margin: 0;
    }

        .if-m--main .if-m--content .if-m--banner-overlay {
            text-align: center;
            padding: 1rem 0 1.8rem;
        }

            .if-m--main .if-m--content .if-m--banner .cta {
                margin: 1rem 0 0;
                text-align: center;
            }
    
    .if-m--footer {
        padding: .8rem;
    }

        .if-m--footer .if-m--trademark {
            text-align: left;
        }
}