[Unit]
Description=InterFlare API

[Service]
WorkingDirectory=/var/www/api
ExecStart=/usr/bin/dotnet /var/www/api/InterFlare.Api.dll
Restart=always
RestartSec=2
KillSignal=SIGINT
SyslogIdentifier=iflr-api
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target